# Explore data using Unix terminal

using citibank trip open dataset

## Navigating the filesystem

In [8]:
# I have downloaded the necessary data
ls

201402-citibike-tripdata.csv  flip_coins.ipynb
201402-citibike-tripdata.tsv  intro_command_line.ipynb
Untitled.ipynb                lecture_2.pdf
download_trips.sh*

## Explore data with head, wc, sort, uniq and awk

In [1]:
# Look at the first line
head -n1 201402-citibike-tripdata.csv

"tripduration","starttime","stoptime","start station id","start station name","start station latitude","start station longitude","end station id","end station name","end station latitude","end station longitude","bikeid","usertype","birth year","gender"

In [2]:
# Create a list of columns with line number, translating commas to newlines
head -n1 201402-citibike-tripdata.csv | tr , '\n' | cat -n

     1	"tripduration"
     2	"starttime"
     3	"stoptime"
     4	"start station id"
     5	"start station name"
     6	"start station latitude"
     7	"start station longitude"
     8	"end station id"
     9	"end station name"
    10	"end station latitude"
    11	"end station longitude"
    12	"bikeid"
    13	"usertype"
    14	"birth year"
    15	"gender"

In [3]:
# Count the total number of lines in the file
wc -l 201402-citibike-tripdata.csv

  224737 201402-citibike-tripdata.csv

In [4]:
# Extract gender which locates in 15th column, specifying ',' as a delimiter
# Look at first ten lines
cut -d, -f15 201402-citibike-tripdata.csv | head

"gender"
"1"
"2"
"2"
"1"
"1"
"1"
"1"
"1"
"1"

In [11]:
# Find the earliest and latest birth year in 14th column
cut -d, -f14 201402-citibike-tripdata.csv | sort | head -5
cut -d, -f14 201402-citibike-tripdata.csv | sort | tail -5

# From the result we know that there are several unvaild data in my dataset
# So we want to find the valid lastest birth year (14th column) which is not '\N 
cut -d, -f14 201402-citibike-tripdata.csv | grep '[0-9]' | sort | tail -5

# Now we know the latest birth year is 1997 (quite young!)

"1899"
"1899"
"1899"
"1899"
"1899"
\N
\N
\N
\N
\N
"1997"
"1997"
"1997"
"1997"
"1997"

In [7]:
# Find all trips either starting or ending on Broadway
grep Broadway 201402-citibike-tripdata.csv | head

# Result is too massy

"372","2014-02-01 00:00:03","2014-02-01 00:06:15","285","Broadway & E 14 St","40.73454567","-73.99074142","439","E 4 St & 2 Ave","40.7262807","-73.98978041","15456","Subscriber","1979","2"
"583","2014-02-01 00:00:32","2014-02-01 00:10:15","357","E 11 St & Broadway","40.73261787","-73.99158043","284","Greenwich Ave & 8 Ave","40.7390169121","-74.0026376103","17400","Subscriber","1981","1"
"439","2014-02-01 00:02:14","2014-02-01 00:09:33","285","Broadway & E 14 St","40.73454567","-73.99074142","247","Perry St & Bleecker St","40.73535398","-74.00483091","20875","Subscriber","1983","2"
"707","2014-02-01 00:02:50","2014-02-01 00:14:37","257","Lispenard St & Broadway","40.71939226","-74.00247214","345","W 13 St & 6 Ave","40.73649403","-73.99704374","17757","Subscriber","1962","1"
"695","2014-02-01 00:06:53","2014-02-01 00:18:28","490","8 Ave & W 33 St","40.751551","-73.993934","468","Broadway & W 55 St","40.7652654","-73.98192338","21122","Subscriber","1979","1"
"892","2014-02-01 00:07:22","2014-02-01 00:22:14","499","Broadway & W 60 St","40.76915505","-73.98191841","490","8 Ave & W 33 St","40.751551","-73.993934","20799","Subscriber","1968","1"
"636","2014-02-01 00:08:25","2014-02-01 00:19:01","285","Broadway & E 14 St","40.73454567","-73.99074142","393","E 5 St & Avenue C","40.72299208","-73.97995466","19764","Subscriber","1984","1"
"878","2014-02-01 00:09:03","2014-02-01 00:23:41","497","E 17 St & Broadway","40.73704984","-73.99009296","477","W 41 St & 8 Ave","40.75640548","-73.9900262","19897","Subscriber","1987","1"
"1064","2014-02-01 00:12:27","2014-02-01 00:30:11","444","Broadway & W 24 St","40.7423543","-73.98915076","238","Bank St & Washington St","40.7361967","-74.00859207","14690","Subscriber","1996","1"
"469","2014-02-01 00:12:40","2014-02-01 00:20:29","497","E 17 St & Broadway","40.73704984","-73.99009296","352","W 56 St & 6 Ave","40.76340613","-73.97722479","20132","Subscriber","1975","1"

In [9]:
# Count all trips that start and end on Broadway (5th and 9th columns)

cut -d, -f5,9 201402-citibike-tripdata.csv | grep 'Broadway.*Broadway' | wc -l

    2776

In [10]:
# List all of the unique stations in starting at Broadway (5th)
# To achieve this goal, we need first sort then uniq
cut -d, -f5 201402-citibike-tripdata.csv | grep Broadway | sort | uniq

"Broadway & Battery Pl"
"Broadway & Berry St"
"Broadway & E 14 St"
"Broadway & E 22 St"
"Broadway & W 24 St"
"Broadway & W 29 St"
"Broadway & W 32 St"
"Broadway & W 36 St"
"Broadway & W 37 St"
"Broadway & W 39 St"
"Broadway & W 41 St"
"Broadway & W 49 St"
"Broadway & W 51 St"
"Broadway & W 53 St"
"Broadway & W 55 St"
"Broadway & W 58 St"
"Broadway & W 60 St"
"E 11 St & Broadway"
"E 17 St & Broadway"
"Franklin St & W Broadway"
"Liberty St & Broadway"
"Lispenard St & Broadway"
"Pike St & E Broadway"
"Reade St & Broadway"
"W Broadway & Spring St"
"Washington Pl & Broadway"

In [12]:
# convert comma-separated file to tab-separated file
cat 201402-citibike-tripdata.csv | tr , '\t' > 201402-citibike-tripdata.tsv
head -n1 201402-citibike-tripdata.tsv

"tripduration"	"starttime"	"stoptime"	"start station id"	"start station name"	"start station latitude"	"start station longitude"	"end station id"	"end station name"	"end station latitude"	"end station longitude"	"bikeid"	"usertype"	"birth year"	"gender"

In [13]:
# Find the 10 most frequent station-to-station trips (start: 5th column; end: 9th column)
cut -f5,9 201402-citibike-tripdata.tsv | sort | uniq -c | sort -nr | head

 156 "E 43 St & Vanderbilt Ave"	"W 41 St & 8 Ave"
 124 "Pershing Square N"	"W 33 St & 7 Ave"
 122 "Norfolk St & Broome St"	"Henry St & Grand St"
 121 "E 7 St & Avenue A"	"Lafayette St & E 8 St"
 118 "W 17 St & 8 Ave"	"8 Ave & W 31 St"
 118 "Henry St & Grand St"	"Norfolk St & Broome St"
 115 "Lafayette St & E 8 St"	"E 6 St & Avenue B"
 115 "Central Park S & 6 Ave"	"Central Park S & 6 Ave"
 108 "E 10 St & Avenue A"	"Lafayette St & E 8 St"
 103 "Canal St & Rutgers St"	"Henry St & Grand St"

In [1]:
# Use awk to count trips by gender without having to sort
awk -F, '{counts[$15]++} END {for (k in counts) print counts[k]"\t" k}' 201402-citibike-tripdata.csv

# Notice men are more likely to trip

1	"gender"
176526	"1"
41479	"2"
6731	"0"

In [2]:
# Let's go deeper to find which is optimal, sort & uniq or awk
echo "sort and uniq"
time cut -d, -f15 201402-citibike-tripdata.csv | sort | uniq -c
echo
echo "awk"
time awk -F, '{counts[$15]++} END {for (k in counts) print counts[k]"\t" k }' 201402-citibike-tripdata.csv

# It looks like awk is better

sort and uniq
6731 "0"
176526 "1"
41479 "2"
   1 "gender"

real	0m2.896s
user	0m2.885s
sys	0m0.034s

awk
176526	"1"
41479	"2"
1	"gender"
6731	"0"

real	0m1.797s
user	0m1.766s
sys	0m0.023s

In [3]:
# Let's do something fun
# Plot a histogram of birth yeats using bash (each * counts 100 peaple)
cut -d, -f14 201402-citibike-tripdata.csv | sort | uniq -c | awk '{printf $2"\t"; for (i=1; i<=$1/100; i++) printf "*"; printf "\n"}'

"1899"
"1900"
"1901"
"1907"
"1910"
"1913"
"1917"
"1921"
"1922"
"1926"
"1927"
"1932"
"1933"
"1934"
"1935"
"1936"
"1937"
"1938"
"1939"
"1940"
"1941"	*
"1942"	*
"1943"	*
"1944"	***
"1945"	**
"1946"	****
"1947"	****
"1948"	********
"1949"	*******
"1950"	********
"1951"	***********
"1952"	***********
"1953"	*****************
"1954"	*******************
"1955"	*******************
"1956"	***********************
"1957"	**********************
"1958"	*****************************
"1959"	****************************
"1960"	**********************************
"1961"	***************************
"1962"	************************************
"1963"	******************************************
"1964"	******************************************
"1965"	************************************
"1966"	****************************************
"1967"	**********************************************
"1968"	********************************************
"1969"	******************************************************
"1970"	*********************************************************
"1971"	*************************************************
"1972"	**************************************************
"1973"	*************************************************
"1974"	**********************************************************
"1975"	************************************************
"1976"	*******************************************************
"1977"	***********************************************************
"1978"	********************************************************************
"1979"	*****************************************************************************
"1980"	****************************************************************************
"1981"	**********************************************************************************
"1982"	*******************************************************************************
"1983"	***************************************************************************************
"1984"	*******************************************************************************************
"1985"	*********************************************************************************************
"1986"	*********************************************************************************
"1987"	**************************************************************************
"1988"	********************************************************************************
"1989"	********************************************************************
"1990"	********************************************************
"1991"	******************************
"1992"	*********************
"1993"	****************
"1994"	************
"1995"	********
"1996"	***
"1997"	**
"birth
\N	*******************************************************************